.text-cen{
    text-align: center;
}
.center{
    display:block;
    margin: auto;
}
.nav-bar{
    margin-top:20px;
    height:35px;
    width:100%;
}
.nav-bar-btn{
    position: absolute;
    float:left;
    border-radius:none;
    border:2px solid #000;
    font-size: 15px;
    height:35px;
    width:70px;
}
.logo{
    height:35px;
}
